<!DOCTYPE html>
<html>
<head>
  <title>Stock Management</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>

<h2>Stock IN / OUT</h2>

<button onclick="loadProducts()">Load Products</button>

<ul id="productList"></ul>

<script src="/js/staffStock.js"></script>
</body>
</html>
